<%- include('partials/header', { title: title }) %>

<h1>Class Register Application</h1>
<ul>
  <li><a href="/students">Students</a></li>
  <li><a href="/staff">Staff</a></li>
  <li><a href="/courses">Courses</a></li>
  <li><a href="/enrollments">Enrollments</a></li>
  <li><a href="/schedules">Schedules</a></li>
</ul>

<%- include('partials/footer') %>